@import 'variables.scss';
@import 'functions.scss';

$font-size-map: (
	2500px: 16px,
	1200px: 14px,
);

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	transform: translate(0);
	display: flex;
	flex-direction: column;
	justify-content: center;
	@include poly-fluid-sizing('font-size', $font-size-map);
	text-transform: uppercase;
	.inner {
		z-index: 1000;
		width: 100%;
		display: flex;
		align-items: center;
		@include poly-fluid-sizing('height', $header-height-map);
		justify-content: space-between;
		background: #fff;
		padding: 0 20px;
		//border-bottom: 1px solid $colors-light-grey;
		@media screen and (min-width: $breakpoint-tablet) {
			padding: 0 20px 0 5%;
		}
	}

	.title_container {
		display: flex;
		align-items: center;
		text-decoration: none;
		.logo {
			cursor: pointer;
			width: 50px;
			height: 50px;
			background-image: url(/logo.jpg);
			background-position: 50%;
			background-repeat: no-repeat;
			background-size: 86%;
			border-radius: 50%;
			transition: all 0.3s ease;
		}
		.title {
			display: block;
			font-weight: 600;
			text-transform: uppercase;
			margin: 0 0 0 15px;
			color: #000;
		}
		&:hover {
			.logo {
				box-shadow: 0 0 0 4px $colors-light-grey;
			}
		}
	}
}

.overlay {
	z-index: -1;
	height: calc(100vh);
	background: rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid $colors-light-grey;

	@media screen and (min-width: $breakpoint-tablet) {
		display: none;
	}
}

.nav {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 16px;
	align-items: center;
	@media screen and (max-width: $breakpoint-tablet) {
		display: none;
	}
	&_mobile {
		background: white;
		padding: 20px;
		display: grid;
		grid-auto-flow: row;
		grid-gap: 10px;
		align-items: center;
		&::before {
			content: '';
			display: block;
			position: absolute;
			top: -100px;
			left: 0;
			right: 0;
			background: white;
			height: 102px;
		}
	}
}

.separator {
	width: 2px;
	height: 16px;
	border-radius: 1px;
	background: $colors-light-grey;
	@media screen and (max-width: $breakpoint-tablet) {
		width: 100%;
		height: 2px;
	}
}
