@import 'variables.scss';
@import 'functions.scss';

.burger {
	cursor: pointer;
	outline: none;
	border: none;
	background: transparent;
	text-decoration: none;
	color: #212121;
	position: relative;
	display: inline-flex;
	align-items: center;
	vertical-align: middle;
	padding: 0.7em;
	box-sizing: border-box;
	font-weight: 500;
	text-transform: uppercase;
	border-radius: 3px;
	transition: background 0.2s ease;
	@media screen and (min-width: $breakpoint-tablet) {
		display: none;
	}
	&:hover,
	&:focus {
		background: $colors-light-grey;
	}
}
