@import 'variables.scss';
@import 'functions.scss';

.nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 300px;
	@include poly-fluid-sizing('padding-top', $header-height-map);
	background: white;
	border-bottom: 1px solid $colors-light-grey;
}
