@import 'variables.scss';
@import 'functions.scss';

.nav {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	grid-gap: 16px;
	@media screen and (max-width: $breakpoint-tablet) {
		display: none;
	}
}

.separator {
	width: 2px;
	height: 16px;
	border-radius: 1px;
	background: $colors-light-grey;
}
