{
	"semi": true,
	"singleQuote": true,
	"tabWidth": 4,
	"useTabs": true,
	"arrowParens": "always",
	"jsxSingleQuote": false,
	"htmlWhitespaceSensitivity": "css",
	"printWidth": 80,
	"endOfLine": "lf"
}
