@import 'variables.scss';
@import 'functions.scss';

$font-size-map: (
	2500px: 16px,
	1200px: 14px,
);

$header-height-map: (
	2500px: 120px,
	1200px: 80px,
);

.header {
	@include poly-fluid-sizing('height', $header-height-map);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	transform: translate(0);
	transition: all 0.5s ease;
	border-bottom: 1px solid $colors-light-grey;
	display: flex;
	justify-content: center;
	background: #fff;
	@include poly-fluid-sizing('font-size', $font-size-map);
	text-transform: uppercase;
	.inner {
		width: 66.6%;
		display: flex;
		align-items: center;
		margin: auto;
		justify-content: space-between;
	}
	.separator {
		width: 2px;
		height: 20px;
		border-radius: 1px;
		background: $colors-light-grey;
	}
	.nav {
		display: grid;
		grid-auto-columns: auto;
		grid-auto-flow: column;
		align-items: center;
		grid-gap: 5px;
	}
	.title_container {
		display: flex;
		align-items: center;
		text-decoration: none;
		.logo {
			cursor: pointer;
			width: 50px;
			height: 50px;
			background-image: url(/logo.jpg);
			background-position: 50%;
			background-repeat: no-repeat;
			background-size: 86%;
			border-radius: 50%;
			transition: all 0.3s ease;
		}
		.title {
			display: block;
			font-weight: 600;
			text-transform: uppercase;
			margin: 0 0 0 15px;
			color: #000;
		}
		&:hover {
			.logo {
				box-shadow: 0 0 0 4px $colors-light-grey;
			}
		}
	}
}
