@import 'variables.scss';
@import 'functions.scss';

.nav {
	//z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	@media screen and (min-width: $breakpoint-tablet) {
		display: none;
	}
	.inner {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		@include poly-fluid-sizing('top', $header-height-map);
		padding: 20px;
		width: 100%;
		height: 200px;
		background: white;
		box-shadow: 0 0px 0px 0 hsla(0, 0%, 56.9%, 0);
	}
}
