@import 'variables.scss';
@import 'functions.scss';

.footer {
	background: #0b0f14;
	display: flex;
	flex-direction: column;
	color: white;
	margin-top: 20rem;
	.top {
		height: 200px;
		$disp: 10rem;
		@media screen and (min-width: $breakpoint-tablet) {
			height: 30vh;
			$disp: 20rem;
		}
		.image {
			height: calc(100% + #{$disp});
			top: -$disp;
			margin-left: 5%;
			@media screen and (min-width: $breakpoint-tablet) {
				margin-left: 15%;
			}
			border-radius: 3px 0 0 3px;
			overflow: hidden;
			background: $colors-light-grey;
		}
	}
	.inner {
		padding: 70px 5% 60px;

		display: flex;
		flex-direction: column;
		@media screen and (min-width: $breakpoint-tablet) {
			display: grid;
			padding: 120px 15% 100px;
			grid-template-columns: 1fr 200px;
			grid-gap: 60px;
		}
		.col {
			height: 100%;
			display: flex;
			flex-direction: column;

			a {
				text-decoration: none;
				color: white;
				padding: 10px 0;
			}
		}
	}
	.title {
		font-family: span, serif;
		font-size: 50px;
		margin: 0 0 10px 0;
	}
	.p {
		line-height: 1.8em;
		opacity: 70%;
		font-size: 17px;
	}
	.input {
		height: 60px;
		border-radius: 3px;
		overflow: hidden;
		margin: 20px 0 20px;
		display: grid;
		grid-template-columns: 1fr auto;
		max-width: 900px;
		font-size: 16px;
		input {
			border-radius: 0;
			outline: none;
			padding: 20px;
			font-size: inherit;
			color: white;
			border: none;
			background: rgba(255, 255, 255, 0.3);
			&:focus,
			&:active {
				box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 1);
			}
		}
		button {
			background: white;
			font-size: inherit;
			border: none;
			outline: none;
			padding: 20px;
			cursor: pointer;
		}
	}
}
