/*resets and global behaviours*/

*,*::before,*::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


@import "./variables.scss";

/*fonts*/
@import url("https://use.typekit.net/dqp0osx.css");

@font-face {
    font-family: hk-grotesk;
    font-weight: 200;
    src: url(/fonts/HKGrotesk-Light.woff2);
    font-display: swap
}

@font-face {
    font-family: hk-grotesk;
    font-weight: 400;
    src: url(/fonts/HKGrotesk-Regular.woff2);
    font-display: swap
}

@font-face {
    font-family: hk-grotesk;
    font-weight: 600;
    src: url(/fonts/HKGrotesk-Medium.woff2);
    font-display: swap
}

@font-face {
    font-family: hk-grotesk;
    font-weight: 700;
    src: url(/fonts/HKGrotesk-SemiBold.woff2);
    font-display: swap
}

@font-face {
    font-family: hk-grotesk;
    font-weight: 800;
    src: url(/fonts/HKGrotesk-Bold.woff2);
    font-display: swap
}



a {
  text-decoration: none;
}
body{
	overscroll-behavior: none;
	font-family: hk-grotesk, sans-serif;
}
h1,h2,h3,h4{
	font-family: span, serif;
}


#__next{
	padding-top: $header-height ;
	min-height:100vh;
	display:flex;
	flex-direction: column;
}
